<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="script.js"></script> -->
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
    <script src="directive.js"></script>
    <script src="controller.js"></script>
    
    <body ng-app="todo" ng-controller="TodoCtrl">
        <todo-title></todo-title>

        <h2 class="greetName">Hello {{name}} !!!</h2>

        <todo-form></todo-form>
    <!-- <form name="TodoForm" ng-submit="add(newTodoTitle)">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                <input type="checkbox" ng-model="todo.completed">
                </div>
            </div>
            <input class="form-control" type="text" ng-model="newTodoTitle" placeholder="Type new TODO" autofocus minlength="3">
            <button class="btn btn-info" type="submit">Add</button>
        </div>

        <div ng-show="TodoForm.$dirty && TodoForm.$invalid">
            <div class="alert alert-warning" role="alert"> title 3 more</div>
        </div>
    </form> -->

    <!-- <pre> {{TodoForm | json }} </pre> -->

    <h1 class="head-list"> Todo List : </h1>
    <div class="container">
        <ul class="list-unstyled" >
            <li ng-repeat="todo in todos | filter:statusFilter">
                <!-- <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="todo.completed">
                        </span>
                        <input type="text" class="form-control" ng-model="todo.title">
                    </div>
                </div> -->
    
                <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                        <input type="checkbox" ng-model="todo.completed">
                        </div>
                    </div>
                    <input type="text" class="form-control" ng-model="todo.title">
                    <button class="btn btn-danger" type="button" id="button-addon2" ng-click="remove(todo)">Delete</button>
                    
                </div>
                <date>{{ todo.createdAt | date : 'yyyy-MM-dd hh:mm:ss' }}</date> -->
                
                <todo-item></todo-item>
           
           
            </li>
        </ul>

        <todo-filters></todo-filters>

        <!-- <button class="btn btn-success" ng-click="statusFilter={completed:true}">Completed</button>
        <button class="btn btn-secondary" ng-click="statusFilter={completed:false}">Active</button>
        <button class="btn btn-primary" ng-click="statusFilter={}">All</button> -->
    </div>    

    <!-- <ul>
        <li ng-repeat="todo in todos">
            <input type="text" ng-model="todo.title">
            <input type="checkbox" ng-model="todo.completed">
            <date>{{ todo.createdAt }}</date>
        </li>
    </ul> -->

    <br>

    {{todos}}

    <!-- <h3>{{ todo.title }}</h3>
    <p>{{ todo.completed }}</p>
    <date>{{ todo.createdAt }}</date> -->
</body>
</html>
